.link {
  color: blue;
}

.logo {
  float: left;
  margin-left: 30px;
}

.headercard {
  background-color: rgb(224, 224, 233);
  position: relative;
  top: -790px;
}


.leftnavbarlinks {
  list-style-type: none;
  position: relative;
  padding-top: 180px;
}

